Bai5_2/Bai5_2/BenhNhan.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="BenhNhan"
    targetNamespace="http://tempuri.org/BenhNhan.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/BenhNhan.xsd"
    xmlns:mstns="http://tempuri.org/BenhNhan.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	<xs:simpleType name="phongType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-3][0-9]{2}"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ngaynvType">
		<xs:restriction base="xs:date">
			<xs:maxExclusive value="2025-07-05"></xs:maxExclusive>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="songdtType">
		<xs:restriction base="xs:int">
			<xs:minExclusive value="0"></xs:minExclusive>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="gtType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Nam"></xs:enumeration>
			<xs:enumeration value="Nữ"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	
	<xs:complexType name="benhNhanType">
		<xs:sequence>
			<xs:element name="HoTen" type="xs:string"></xs:element>
			<xs:element name="GioiTinh" type="gtType"></xs:element>
			<xs:element name="NgayNhapVien" type="ngaynvType"></xs:element>
			<xs:element name="NgayDieuTri" type="songdtType"></xs:element>
		</xs:sequence>
		<xs:attribute name="MasoBN" type="xs:string" use="required"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="khoaType">
		<xs:sequence>
			<xs:element name="TenKhoa" type="xs:string"></xs:element>
			<xs:element name="Phong" type="phongType"></xs:element>
			<xs:element name="BenhNhan" type="benhNhanType" minOccurs="1" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="bvdkType">
		<xs:sequence>
			<xs:element name="Khoa" type="khoaType" minOccurs="1" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="BVDK" type="bvdkType"></xs:element>
</xs:schema>
